/*
    Descripcion: Tablas
    Autor: Cesar Omar Godinez Valdez 
    Fecha: 24/10/2022
*/
html {
    height: 100%;
}

body {
    background: linear-gradient(rgb(0, 225, 255), rgb(48, 103, 255));
    height: 100%;
}

h1 {
    color: white;
}
h4 {
    color: white;
}